html, body {
    background-color: #eeeeec;
    font-family: 'ProzaLibreRegular';
   font-weight: normal;
   font-style: normal; 
}
#anneText {
    font-size: 20px;
    padding-top:50px;
}
.locatie {
     font-family: 'ProzaLibreBold';
    font-size: 40px;
}
.tile {    
    height: 200px;    
    border-radius: 2px;
    box-shadow: 0px 1px 6px #333;
    border: solid 1px #333;
    background:white;
    transition: background-color 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'ProzaLibreBold';
    font-size: 50px;
    text-align: center;
}

.droog {
    box-shadow: 0px 1px 10px #ff5722;
    border: solid 1px #ff5722;
    background-color: #ffc107;
}
.zwaaien {
    animation: blinker 1.5s ease-in infinite;
    width: 70px;
    height:70px;
    border-radius: 35px;
    background:#e51c23;
    box-shadow: 0px 0px 10px #e51c23;
}
@keyframes blinker {  
  50% { opacity: 0; }
}